<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.0/jquery.slim.min.js"></script>
</head>

<body>
    <div class="test-box">
        <input type="button">+
        <input type="text">
        <input type="button">-
    </div>
    <script>
        let prom = new Promise((resolve, reject) => {
            resolve()
        })
        // console.log();
        
    </script>
</body>

</html>