<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <script>
        var person = function () {
            var name = 'xiaohong'
            return {
                getName: function () {
                    return name
                },
                setName: function (newName) {
                    name = newName
                }
            }
        }()
        console.log(person.name)
        person.setName('xiaohong')
        console.log(person.getName)
    </script>
</body>

</html>